#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
CFLAGS += -Wno-error=switch

%:
	dh $@ --with python2

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=RelWithDebInfo \
                             -DLIB_INSTALL_DIR:PATH=/usr/lib/${DEB_HOST_MULTIARCH}

override_dh_auto_build:
	dh_auto_build -- doc

override_dh_auto_install:
	dh_auto_install
	chmod +x debian/tmp/usr/lib/qpid-dispatch/tests/ssl_certs/gencerts.sh
	cp -a debian/tmp/usr/lib/python2.7/site-packages debian/tmp/usr/lib/python2.7/dist-packages

override_dh_auto_test:
	# TODO enable them

